<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css.css">
</head>

<body>
  <div class="wrap">
    <div class="form">
      <div class="left"><video src="video.mp4" muted loop autoplay></video></div>
      <div class="right">
        <div class="right-con">
          <h1>NEW HERE SIGN UP</h1>
          <h3>NAME</h3>
          <input class="text" type="text">
          <h3>EMAIL</h3>
          <input class="text" type="text">
          <h3>PASSWORD</h3>
          <input class="text" type="text">
          <input class="btn" type="submit" value="LOGIN">
        </div>
      </div>
    </div>
  </div>
</body>

</html>